<div class="cl-main-widget-ach-header">
  <div class="cl-main-widget-ach-header-back"></div>
  <div class="cl-main-widget-ach-header-label">{{ headerLabel }}</div>
  <div class="cl-main-widget-ach-header-close"></div>
</div>
<div class="cl-main-widget-ach-details">
  <div class="cl-main-widget-ach-details-info">
    <div class="cl-main-widget-ach-details-info-icon"></div>
  </div>
  <div class="cl-main-widget-ach-details-content">
    <div class="cl-main-widget-ach-details-content-label"></div>
    <div class="cl-main-widget-ach-details-content-date"></div>
  </div>
</div>
<div class="cl-main-widget-ach-list">
  <div class="cl-main-widget-ach-list-body">
    <div class="cl-main-widget-ach-list-body-res"></div>
    <div class="cl-main-widget-ach-list-popup-wrapp">
      <div class="cl-main-widget-ach-list-popup">
        <div class="cl-main-widget-ach-list-popup-title">{{ leavePopupTitle }}</div>
        <div class="cl-main-widget-ach-list-popup-close"></div>
        <div class="cl-main-widget-ach-list-popup-description">{{ leavePopupDescription }}</div>
        <div class="cl-main-widget-ach-list-popup-actions">
          <div class="cl-main-widget-ach-list-popup-cancel">{{ leavePopupActionCancel }}</div>
          <div class="cl-main-widget-ach-list-popup-confirm">{{ leavePopupActionConfirm }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Details  -->
<div class="cl-main-widget-ach-details-container">
  <div class="cl-main-widget-ach-details-wrapper">
    <div class="cl-main-widget-ach-details-header">
      <a class="cl-main-widget-ach-details-back-btn"></a>
      <div class="cl-main-widget-ach-details-top-label"></div>
      <div class="cl-main-widget-ach-details-close"></div>
    </div>
    <div class="cl-main-widget-ach-details-body-container">

      <div class="cl-main-widget-ach-details-header-label-wrapp">
        <div class="cl-main-widget-ach-details-body-image-cont"></div>
        <div class="cl-main-widget-ach-details-header-label-container">
          <div class="cl-main-widget-ach-details-header-label-opted-in">{{ optedInLabel }}</div>
          <div class="cl-main-widget-ach-details-header-label"></div>
        </div>
      </div>

      <div class="cl-main-widget-ach-details-games ach-games">
<!--        <div class="cl-main-widget-ach-details-games-label">{{ pickAGameLabel }}</div>-->
        <div class="cl-main-widget-ach-details-game-items ach-games"></div>
        <!--        <div class="cl-main-widget-ach-details-game-full"></div>-->
        <!--        <div class="cl-main-widget-ach-details-game-overlay"></div>-->
      </div>

      <div class="cl-ach-list-actions">
        <div class="cl-ach-list-actions-reward">
          <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg" class="cl-ach-list-actions-reward-img">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2023 8H29.631L37.0833 15.4523L20.4167 32.119L3.75
              15.4523L11.2023 8ZM18.5199 9.57135H12.6178L14.0934 13.9979L18.5199 9.57135ZM12.6599 14.6667L11.1844 10.2401L6.7579
              14.6667H12.6599ZM6.7579 16.238H13.2319L18.0875 27.5676L6.7579 16.238ZM22.7459 27.5676L34.0754 16.238H27.6014L22.7459
              27.5676ZM28.1734 14.6667H34.0754L29.6489 10.2401L28.1734 14.6667ZM28.2155 9.57135H22.3135L26.74 13.9979L28.2155
              9.57135ZM25.1865 14.6667H15.6468L20.4167 9.89679L25.1865 14.6667ZM14.9415 16.238H25.8918L20.4167 29.0134L14.9415
              16.238Z" fill="white"></path>
          </svg>
          <div class="cl-ach-list-actions-reward-title"></div>
        </div>
        <div class="cl-ach-list-progression">
          <div class="cl-ach-list-progression-cont">
            <div class="cl-ach-list-progression-bar" style="width: 0%;"></div>
          </div>
          <div class="cl-ach-list-progression-label"></div>
        </div>
        <div class="cl-main-widget-ach-details-optin-action">{{ enterLabel }}</div>
      </div>

      <div class="cl-main-widget-ach-details-hw">
      </div>

      <div class="cl-main-widget-ach-details-body-description-tc">
        <div class="cl-main-widget-ach-details-body-description-tc-header">
          <div class="cl-main-widget-ach-details-body-description-tc-title">{{ tAndCLabel }}</div>
          <div class="cl-main-widget-ach-details-body-description-tc-expand expand-item"></div>
        </div>
        <div class="cl-main-widget-ach-details-tc"></div>
      </div>

      <div class="cl-main-widget-ach-details-body-abort">{{ abortMissionLabel }}</div>

      <div class="cl-main-widget-ach-details-body-cta">
        <div class="cl-main-widget-ach-details-body-cta-ends">
          <div class="cl-main-widget-ach-details-body-cta-ends-label">{{ endsLabel }}</div>
          <div class="cl-main-widget-ach-details-body-cta-ends-date">-</div>
        </div>
        <div class="cl-main-widget-ach-details-body-cta-ends-btn-pick">{{ pickAGameBtn }}</div>
        <div class="cl-main-widget-ach-details-optin-action">{{ enterLabel }}</div>
      </div>
    </div>
  </div>
  <div class="cl-main-widget-ach-optIn-drawer">
    <div class="cl-main-widget-ach-optIn-drawer-icon"></div>
    <div class="cl-main-widget-ach-optIn-drawer-title">{{ drawerLabel }}</div>
    <div class="cl-main-widget-ach-optIn-drawer-description">{{ drawerDescription }}</div>
    <div class="cl-main-widget-ach-optIn-drawer-btn-optIn">{{ enterLabel }}</div>
    <div class="cl-main-widget-ach-optIn-drawer-btn-play">{{ drawerPlayBtn }}</div>
  </div>
</div>