<div class="cl-main-widget-dashboard-header">
  <div class="cl-main-widget-dashboard-header-label"></div>
  <div class="cl-main-widget-dashboard-header-close"></div>
</div>
<div class="cl-main-widget-dashboard-body">
  <div class="cl-main-widget-dashboard-body-label">{{ headerLabel }}</div>
    <div class="cl-main-widget-ach-list-popup-wrapp">
      <div class="cl-main-widget-ach-list-popup">
        <div class="cl-main-widget-ach-list-popup-title">{{ leavePopupTitle }}</div>
        <div class="cl-main-widget-ach-list-popup-close"></div>
        <div class="cl-main-widget-ach-list-popup-description">{{ leavePopupDescription }}</div>
        <div class="cl-main-widget-ach-list-popup-actions">
          <div class="cl-main-widget-ach-list-popup-cancel">{{ leavePopupActionCancel }}</div>
          <div class="cl-main-widget-ach-list-popup-confirm">{{ leavePopupActionConfirm }}</div>
        </div>
      </div>
    </div>
  <div class="cl-main-widget-dashboard-rewards">
    <div class="cl-main-widget-dashboard-rewards-header">
      <div class="cl-main-widget-dashboard-rewards-title">{{ rewardsTitle }}</div>
      <div class="navigation-item cl-main-widget-dashboard-rewards-list-more">{{ seeAllLabel }}</div>
    </div>
    <div class="cl-main-widget-dashboard-rewards-wrapp">
      <div class="cl-main-widget-dashboard-rewards-list-left"></div>
      <div class="cl-main-widget-dashboard-rewards-list"></div>
      <div class="cl-main-widget-dashboard-rewards-list-right"></div>
    </div>
  </div>
    {{#if isInstantWins}}
        <div class="cl-main-widget-dashboard-instant-wins">
            <div class="cl-main-widget-dashboard-instant-wins-title">{{ instantWinsTitle }}</div>
            <div class="cl-main-widget-dashboard-instant-wins-wrapp">
                <div class="cl-main-widget-dashboard-instant-wins-wheel">
                    <div class="cl-main-widget-dashboard-instant-wins-wheel-title-mobile">{{ instantWinsWheelTitle }}</div>
                    <div class="cl-main-widget-dashboard-instant-wins-wheel-body">
                        <div class="cl-main-widget-dashboard-instant-wins-wheel-title">{{ instantWinsWheelTitle }}</div>
                        <div class="cl-main-widget-dashboard-instant-wins-wheel-description"></div>
                        <div class="cl-main-widget-dashboard-instant-wins-wheel-button">{{ instantWinsWheelButton }}</div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
  {{#if isAchievements}}
    <div class="cl-main-widget-dashboard-achievements">
      <div class="cl-main-widget-dashboard-achievements-header">
        <div class="cl-main-widget-dashboard-achievements-title">{{ achievementsTitle }}</div>
        <div class="navigation-item cl-main-widget-dashboard-achievements-list-more">{{ seeAllLabel }}</div>
      </div>
      <div class="cl-main-widget-dashboard-achievements-wrapp">
        <div class="cl-main-widget-dashboard-achievements-list-left"></div>
        <div class="cl-main-widget-dashboard-achievements-list"></div>
        <div class="cl-main-widget-dashboard-achievements-list-right"></div>
      </div>
    </div>
  {{/if}}
  {{#if isTournaments}}
    <div class="cl-main-widget-dashboard-tournaments">
      <div class="cl-main-widget-dashboard-tournaments-header">
        <div class="cl-main-widget-dashboard-tournaments-title">{{ tournamentsTitle }}</div>
        <div class="navigation-item cl-main-widget-dashboard-tournaments-list-more">{{ seeAllLabel }}</div>
      </div>
      <div class="cl-main-widget-dashboard-tournaments-wrapp">
        <div class="cl-main-widget-dashboard-tournaments-list-left"></div>
        <div class="cl-main-widget-dashboard-tournaments-list"></div>
        <div class="cl-main-widget-dashboard-tournaments-list-right"></div>
      </div>
    </div>
  {{/if}}
</div>