<div class="cl-main-widget-lb-header">
  <div class="cl-main-widget-lb-header-list">
    <div class="cl-main-widget-lb-header-list-icon"></div>
    <div class="cl-main-widget-lb-header-back-icon"></div>
  </div>
  <div class="cl-main-widget-lb-header-label">{{ tournamentsLabel }}</div>
  <div class="cl-main-widget-lb-header-date"></div>
  <div class="cl-main-widget-lb-header-close"></div>
</div>
<div class="cl-main-widget-lb-details">
  <div class="cl-main-widget-lb-details-info">
    <div class="cl-main-widget-lb-details-info-icon"></div>
  </div>
  <div class="cl-main-widget-lb-details-image-container"></div>
  <div class="cl-main-widget-lb-details-content">
    <div class="cl-main-widget-lb-details-content-label">
      <span class="cl-main-widget-lb-details-content-label-text"></span>
      <span class="cl-main-widget-lb-details-content-date"></span>
      <div class="cl-main-widget-lb-details-content-date-headers">
        <div class="cl-main-widget-lb-details-content-date-headers-item months hidden">{{ monthsFull }}</div>
        <div class="cl-main-widget-lb-details-content-date-headers-item days">{{ daysFull }}</div>
        <div class="cl-main-widget-lb-details-content-date-headers-item hours">{{ hoursFull }}</div>
        <div class="cl-main-widget-lb-details-content-date-headers-item minutes">{{ minutesFull }}</div>
        <div class="cl-main-widget-lb-details-content-date-headers-item seconds">{{ secondsFull }}</div>
      </div>
    </div>
  </div>

  <!-- Tourney Details -->
  <div class="cl-main-widget-lb-details-description-container">
    <div class="cl-main-widget-lb-details-header-label-wrapp">
      <div class="cl-main-widget-lb-details-image-cont"></div>
      <div class="cl-main-widget-lb-details-header-title"></div>
    </div>

    <div class="cl-main-widget-lb-details-menu">
      <div class="cl-main-widget-lb-details-menu-item info active">Info</div>
      <div class="cl-main-widget-lb-details-menu-item leaderboard">Leaderboard</div>
    </div>

    <!-- Body -->
    <div class="cl-main-widget-tournament-details-body">
      <div class="cl-main-widget-lb-details-actions">

        <div class="cl-main-widget-lb-details-data">
          <div class="dashboard-tournament-list-details-data-item dashboard-tournament-list-details-position">
            <div class="dashboard-tournament-list-details-data-item-value dashboard-tournament-list-details-position-value">-</div>
            <div class="dashboard-tournament-list-details-data-item-label dashboard-tournament-list-details-position-label">Position</div>
          </div>
          <div class="dashboard-tournament-list-details-data-item dashboard-tournament-list-details-left">
            <div class="dashboard-tournament-list-details-data-item-value dashboard-tournament-list-details-left-value">-</div>
            <div class="dashboard-tournament-list-details-data-item-label dashboard-tournament-list-details-left-label">Spins left</div>
          </div>
          <div class="dashboard-tournament-list-details-data-item dashboard-tournament-list-details-points">
            <div class="dashboard-tournament-list-details-data-item-value dashboard-tournament-list-details-points-value">-</div>
            <div class="dashboard-tournament-list-details-data-item-label dashboard-tournament-list-details-points-label">Points</div>
          </div>
        </div>

        <div class="cl-main-widget-lb-details-actions-reward">
          <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg" class="cl-main-widget-lb-details-actions-reward-img">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2023 8H29.631L37.0833 15.4523L20.4167 32.119L3.75
              15.4523L11.2023 8ZM18.5199 9.57135H12.6178L14.0934 13.9979L18.5199 9.57135ZM12.6599 14.6667L11.1844 10.2401L6.7579
              14.6667H12.6599ZM6.7579 16.238H13.2319L18.0875 27.5676L6.7579 16.238ZM22.7459 27.5676L34.0754 16.238H27.6014L22.7459
              27.5676ZM28.1734 14.6667H34.0754L29.6489 10.2401L28.1734 14.6667ZM28.2155 9.57135H22.3135L26.74 13.9979L28.2155
              9.57135ZM25.1865 14.6667H15.6468L20.4167 9.89679L25.1865 14.6667ZM14.9415 16.238H25.8918L20.4167 29.0134L14.9415
              16.238Z" fill="white"></path>
          </svg>
          <div class="dashboard-tournament-list-details-reward-first">1</div>
          <div class="cl-main-widget-lb-details-reward-title">Get 50 Free Spins</div>
        </div>

        <div class="dashboard-tournament-list-details-data disabled">
          <div class="dashboard-tournament-list-details-data-item dashboard-tournament-list-details-position">
            <div class="dashboard-tournament-list-details-data-item-value dashboard-tournament-list-details-position-value cl-main-widget-lb-details-duration">-</div>
            <div class="dashboard-tournament-list-details-data-item-label dashboard-tournament-list-details-position-label">Duration</div>
          </div>
          <div class="dashboard-tournament-list-details-data-item dashboard-tournament-list-details-left">
            <div class="dashboard-tournament-list-details-data-item-value dashboard-tournament-list-details-left-value cl-main-widget-lb-details-spin-limit">-</div>
            <div class="dashboard-tournament-list-details-data-item-label dashboard-tournament-list-details-left-label">Spin Limit</div>
          </div>
          <div class="dashboard-tournament-list-details-data-item dashboard-tournament-list-details-points">
            <div class="dashboard-tournament-list-details-data-item-value dashboard-tournament-list-details-points-value cl-main-widget-lb-details-min-bet">€-</div>
            <div class="dashboard-tournament-list-details-data-item-label dashboard-tournament-list-details-points-label">Min bet</div>
          </div>
        </div>

      </div>

      <div class="cl-main-widget-ach-details-hw">
        <div class="cl-main-widget-ach-details-hw-label">How does it work</div>
        <div class="cl-main-widget-ach-details-hw-item-wrapp">
          <div class="cl-main-widget-ach-details-hw-item">
            <div class="cl-main-widget-ach-details-hw-item-number">1</div>
            <div class="cl-main-widget-ach-details-hw-item-text">Join the Tournament. It’s free!</div>
          </div>
          <div class="cl-main-widget-ach-details-hw-item">
            <div class="cl-main-widget-ach-details-hw-item-number">2</div>
            <div class="cl-main-widget-ach-details-hw-item-text">Collect points by playing any of the participating games.</div>
          </div>
          <div class="cl-main-widget-ach-details-hw-item">
            <div class="cl-main-widget-ach-details-hw-item-number">3</div>
            <div class="cl-main-widget-ach-details-hw-item-text">Finish in the payed ranks and get rewarded.</div>
          </div>
        </div>
      </div>

      <div class="cl-main-widget-ach-details-games">
        <div class="cl-main-widget-ach-details-games-label">Pick a game</div>
        <div class="cl-main-widget-ach-details-game-items tour-games">
          <div class="cl-main-widget-ach-details-game-item" style="background-image: url('https://tipicogames-stg.cdn.ziqni.com/Banners/thumbnails-test.png')"></div>
          <div class="cl-main-widget-ach-details-game-item" style="background-image: url('https://tipicogames-stg.cdn.ziqni.com/Banners/thumbnails-test.png')"></div>
          <div class="cl-main-widget-ach-details-game-item" style="background-image: url('https://tipicogames-stg.cdn.ziqni.com/Banners/thumbnails-test.png')"></div>
          <div class="cl-main-widget-ach-details-game-item" style="background-image: url('https://tipicogames-stg.cdn.ziqni.com/Banners/thumbnails-test.png')"></div>
          <div class="cl-main-widget-ach-details-game-item" style="background-image: url('https://tipicogames-stg.cdn.ziqni.com/Banners/thumbnails-test.png')"></div>
          <div class="cl-main-widget-ach-details-game-item" style="background-image: url('https://tipicogames-stg.cdn.ziqni.com/Banners/thumbnails-test.png')"></div>
          <div class="cl-main-widget-ach-details-game-item" style="background-image: url('https://tipicogames-stg.cdn.ziqni.com/Banners/thumbnails-test.png')"></div>
          <div class="cl-main-widget-ach-details-game-item" style="background-image: url('https://tipicogames-stg.cdn.ziqni.com/Banners/thumbnails-test.png')"></div>
          <div class="cl-main-widget-ach-details-game-item" style="background-image: url('https://tipicogames-stg.cdn.ziqni.com/Banners/thumbnails-test.png')"></div>
        </div>
      </div>

      <div class="cl-main-widget-tournament-details-body-description-tc hc">
        <div class="cl-main-widget-tournament-details-body-description-tc-header">
          <div class="cl-main-widget-ach-details-body-description-tc-title">How are point calculated</div>
          <div class="cl-main-widget-ach-details-body-description-tc-expand expand-item"></div>
        </div>
        <div class="cl-main-widget-tournament-details-hc"></div>
      </div>

      <div class="cl-main-widget-tournament-details-body-description-tc tc">
        <div class="cl-main-widget-tournament-details-body-description-tc-header">
          <div class="cl-main-widget-ach-details-body-description-tc-title">{{ tAndCLabel }}</div>
          <div class="cl-main-widget-ach-details-body-description-tc-expand expand-item"></div>
        </div>
        <div class="cl-main-widget-tournament-details-tc"></div>
      </div>

      <div class="cl-main-widget-tournament-details-body-abort">Abort Tournament</div>

      <div class="cl-main-widget-lb-details-description"></div>
    </div>

    <!-- Leaderboard -->
    <div class="cl-main-widget-lb-leaderboard">
      <div class="cl-main-widget-lb-leaderboard-header">
        <div class="cl-main-widget-lb-leaderboard-header-labels"></div>
      </div>
      <div class="cl-main-widget-lb-leaderboard-res-container">
        <div class="cl-main-widget-lb-leaderboard-header-top-res"></div>
        <div class="cl-main-widget-lb-leaderboard-body">
          <div class="cl-main-widget-lb-leaderboard-body-res"></div>
        </div>
      </div>
      <div class="cl-main-widget-lb-missing-member"></div>
    </div>

    <div class="cl-main-widget-ach-details-body-cta">
      <div class="cl-main-widget-ach-details-body-cta-ends">
        <div class="cl-main-widget-ach-details-body-cta-ends-label">Ends</div>
        <div class="cl-main-widget-lb-details-body-cta-ends-date">-</div>
      </div>
      <div class="cl-main-widget-lb-details-body-cta-ends-btn-pick">Pick a game to continue</div>
      <div class="cl-main-widget-lb-optin-container">
        <a class="cl-main-widget-lb-optin-action" href="javascript:void(0);">{{ enterLabel }}</a>
      </div>
    </div>

<!--    <div class="cl-main-widget-lb-details-description-header">-->
<!--      <div class="cl-main-widget-lb-details-description-header-title"></div>-->
<!--      <div class="cl-main-widget-lb-details-description-info">i</div>-->
<!--    </div>-->
<!--    <div class="cl-main-widget-lb-details-description-banner">-->
<!--      <div class="cl-main-widget-lb-details-description-label">-->
<!--        <span class="cl-main-widget-lb-details-description-label-text"></span>-->
<!--        <span class="cl-main-widget-lb-details-description-date"></span>-->
<!--        <div class="cl-main-widget-lb-details-description-date-headers">-->
<!--          <div class="cl-main-widget-lb-details-description-date-headers-item months hidden">{{ monthsFull }}</div>-->
<!--          <div class="cl-main-widget-lb-details-description-date-headers-item days">{{ daysFull }}</div>-->
<!--          <div class="cl-main-widget-lb-details-description-date-headers-item hours">{{ hoursFull }}</div>-->
<!--          <div class="cl-main-widget-lb-details-description-date-headers-item minutes">{{ minutesFull }}</div>-->
<!--          <div class="cl-main-widget-lb-details-description-date-headers-item seconds">{{ secondsFull }}</div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="cl-main-widget-lb-details-description-title">{{ descriptionLabel }}</div>-->
<!--    <div class="cl-main-widget-lb-details-tc-title">{{ tAndCLabel }}</div>-->
<!--    <div class="cl-main-widget-lb-details-description"></div>-->
<!--    <div class="cl-main-widget-lb-details-tc"></div>-->
<!--    <div class="cl-main-widget-lb-details-brackets"></div>-->
  </div>

  <div class="cl-main-widget-lb-missing-member-details"></div>
</div>

<div class="cl-main-widget-lb-details-container">
  <div class="cl-main-widget-lb-details-header">
    <div class="cl-main-widget-lb-details-header-label"></div>
    <div class="cl-main-widget-lb-details-header-date"></div>
  </div>
  <a class="cl-main-widget-lb-details-back-btn"></a>
  <div class="cl-main-widget-lb-details-body-container">
    <div class="cl-main-widget-lb-details-body-image-cont"></div>
    <div class="cl-main-widget-lb-details-body"></div>
  </div>
  <div class="cl-main-widget-lb-details-optin-container">
    <a class="cl-main-widget-lb-details-optin-action" href="javascript:void(0);">{{ enterLabel }}</a>
  </div>
</div>
<div class="cl-main-widget-tournaments-list">
  <div class="cl-main-widget-tournaments-list-body">
    <div class="cl-main-widget-tournaments-list-body-res"></div>
  </div>
</div>
