<div class="cl-rank-col cl-col cl-rank-{{ rank }}">
  <div class="cl-rank-col-value">{{ rank }}</div>
</div>
<div class="cl-name-col cl-col">
  <div class="lb-name">{{ name }}</div>
  <div class="lb-reward">{{ rewardValue }}</div>
</div>
<div class="cl-points-col cl-col">{{ points }}</div>