<div class="rewards-list-item-past-info-header">
  <div class="rewards-list-item-past-info">
    <div class="rewards-list-item-past-info-data">
      25.12.23 - <span class="rewards-list-item-past-info-data-status {{ status }}">{{ status }}</span>
    </div>
    <div class="rewards-list-item-past-info-title">
      {{ name }}
    </div>
  </div>
  <div class="rewards-list-item-past-info-expand expand-item"></div>
</div>

<div class="rewards-list-item-past-info-body">
  <div class="rewards-list-item-past-info-body-item">
    <div class="rewards-list-item-past-info-body-item-label">{{ pastFS }}</div>
    <div class="rewards-list-item-past-info-body-item-value">{{ pastFsValue }}</div>
  </div>
  <div class="rewards-list-item-past-info-body-item">
    <div class="rewards-list-item-past-info-body-item-label">{{ pastFSWinnings }}</div>
    <div class="rewards-list-item-past-info-body-item-value">-</div>
  </div>
  <div class="rewards-list-item-past-info-body-item">
    <div class="rewards-list-item-past-info-body-item-label">{{ expiredOnLabel }}</div>
    <div class="rewards-list-item-past-info-body-item-value">{{ expires }}</div>
  </div>
  <div class="rewards-list-item-past-info-body-item">
    <div class="rewards-list-item-past-info-body-item-label">{{ campaignLabel }}</div>
    <div class="rewards-list-item-past-info-body-item-value">{{ campaign }}</div>
  </div>
  <div class="rewards-list-past-tc">{{ tAndCLabel }}</div>
</div>