<div class="cl-main-widget-reward-celebration-header">
  <div class="cl-main-widget-reward-celebration-header-name">{{ campaign }}</div>
  <div class="cl-main-widget-reward-celebration-header-completed">{{ title }}</div>
  <div class="cl-main-widget-reward-celebration-header-reward">{{ label }}</div>
</div>

<div class="cl-main-widget-reward-celebration-body">
  <div class="dashboard-rewards-list-item">
    <div class="dashboard-rewards-list-item-info">
      <div class="dashboard-rewards-list-item-expires">
        <div class="dashboard-rewards-list-item-expires-label">{{ expiresLabel }}</div>
        <div class="dashboard-rewards-list-item-expires-value">{{ expires }}</div>
      </div>
      <div class="dashboard-rewards-list-item-reward">
        <div class="dashboard-rewards-list-item-reward-value">{{ rewardValue }}</div>
        <div class="dashboard-rewards-list-item-reward-type">{{ rewardType }}</div>
      </div>
    </div>
    <div class="dashboard-rewards-list-item-images">
      {{#each products}}
        <div style="background-image: url({{ iconLink }})" class="dashboard-rewards-list-item-img"></div>
      {{/each}}
      {{#if productsCount}}
        <div class="dashboard-rewards-list-item-products-count">+{{productsCount}}</div>
      {{/if}}
    </div>
  </div>
  <div class="cl-main-widget-reward-celebration-body-t-and-c">{{ tAndCLabel }}</div>
</div>

<canvas id="confetti"></canvas>
<div class="confetti-bg"></div>

<div class="cl-main-widget-reward-celebration-actions" data-id="{{ id }}">
  <div class="cl-main-widget-reward-celebration-actions-clime-btn">{{ climeBtnLabel }}</div>
  <div class="cl-main-widget-reward-celebration-actions-decline">{{ declineBtnLabel }}</div>
</div>

<div class="cl-main-widget-reward-celebration-drawer" data-id="{{ id }}">
  <div class="cl-main-widget-reward-celebration-drawer-icon"></div>
  <div class="cl-main-widget-reward-celebration-drawer-title">{{ drawerTitle }}</div>
  <div class="cl-main-widget-reward-celebration-drawer-description">{{ drawerDescription }}</div>
  <div class="cl-main-widget-reward-celebration-drawer-btn-claim">{{ drawerClimeBtn }}</div>
  <div class="cl-main-widget-reward-celebration-drawer-btn-decline">{{ drawerDeclineBtn }}</div>
</div>
