<div class="dashboard-rewards-list-item-info">
  <div class="dashboard-rewards-list-item-expires">
    <div class="dashboard-rewards-list-item-expires-label">{{ expiresInLabel }}</div>
    <div class="dashboard-rewards-list-item-expires-value">{{{ expires }}}</div>
  </div>
  <div class="dashboard-rewards-list-item-reward">
    <div class="dashboard-rewards-list-item-reward-value">{{ rewardValue }}</div>
    <div class="dashboard-rewards-list-item-reward-type">{{ rewardType }}</div>
  </div>
</div>
<div class="dashboard-rewards-list-item-img" style="{{ rewardImg }}"></div>