<div class="rewards-list-item-past-info-header">
  <div class="rewards-list-item-past-info">
    <div class="rewards-list-item-past-info-data">
      {{ expires }} - <span class="rewards-list-item-past-info-data-status {{ status }}">{{ statusLabel }}</span>
    </div>
    <div class="rewards-list-item-past-info-title">
      {{ name }}
    </div>
  </div>
  <div class="rewards-list-item-past-info-expand expand-item"></div>
</div>

<div class="rewards-list-item-past-info-body" data-id="{{ id }}">
  {{#if isFreeSpins}}
  <div class="rewards-list-item-past-info-body-item">
    <div class="rewards-list-item-past-info-body-item-label">{{ pastFS }}</div>
    <div class="rewards-list-item-past-info-body-item-value">{{ pastFsValue }}</div>
  </div>
  <div class="rewards-list-item-past-info-body-item fs">
    <div class="rewards-list-item-past-info-body-item-wrapp">
      <div class="rewards-list-item-past-info-body-item-label">{{ pastFSWinnings }}</div>
      <div class="rewards-list-item-past-info-body-item-value">-</div>
    </div>
    {{#if isMyBonuses}}
      <div class="rewards-list-item-past-info-body-item-bonus">Go to <span class="my-bonuses">My Bonuses</span> for more information</div>
    {{/if}}
  </div>
  {{else}}
  <div class="rewards-list-item-past-info-body-item fs">
    <div class="rewards-list-item-past-info-body-item-wrapp">
      <div class="rewards-list-item-past-info-body-item-label">Credited Bonus</div>
      <div class="rewards-list-item-past-info-body-item-value">{{ bonusValue }}{{ bonusSymbol }}</div>
    </div>
    {{#if isMyBonuses}}
      <div class="rewards-list-item-past-info-body-item-bonus">Go to <span class="my-bonuses">My Bonuses</span> for more information</div>
    {{/if}}
  </div>
  {{/if}}
  <div class="rewards-list-item-past-info-body-item">
    <div class="rewards-list-item-past-info-body-item-label">{{ expiredOnLabel }}</div>
    <div class="rewards-list-item-past-info-body-item-value">{{ expires }}</div>
  </div>
  <div class="rewards-list-item-past-info-body-item">
    <div class="rewards-list-item-past-info-body-item-label">{{ campaignLabel }}</div>
    <div class="rewards-list-item-past-info-body-item-value">{{ campaign }}</div>
  </div>
  <div class="rewards-list-past-tc">{{ tAndCLabel }}</div>
</div>